//主色调 红色
$styleColor: #db3e3e;

//连接颜色:蓝色
$linkColor: #2B77C5;

//浅灰
$lightGrayColor: #919599;

//深灰 文字颜色
$darkGrayColor: #5f6266;

//背景颜色
$backgroundColor: #F9FBFC;

//默认阴影
$boxShadow: 0 0 10px rgba(212,212,212,1);